[Desktop Entry]
Exec=designer-qt3
Name=Qt3 Designer
Name[af]=Qt3 Ontwerper
Name[br]=Ergrafer Qt3
Name[ca]=Dissenyador Qt3
Name[cs]=Qt3 designer
Name[cy]=Dylunydd Qt3
Name[de]=Qt3-Designer
Name[eo]=Qt3-Desegnilo
Name[es]=Diseñador Qt3
Name[eu]=Qt3 Diseinatzailea
Name[gl]=Deseñador de Qt3
Name[it]=Designer Qt3
Name[lv]=Qt3 Dizainers
Name[mn]=Qt3-Дизайнер
Name[ms]=Pembantu Qt3
Name[mt]=Diżinjatur Qt3
Name[nso]=Mohlami wa Qt3
Name[oc]=Dessinador Qt3
Name[sl]=Snovalnik Qt3
Name[ss]=Umhleli weQt3 
Name[sv]=Qt3 designer
Name[tg]=Тароҳи Qt3
Name[uk]=Дизайнер Qt3
Name[uz]=Qt3 дизайнер
Name[ven]=Qt3 Mufhati
Name[vi]=Trình thiết kế Qt3
Name[xh]=Umyili we Qt3
Name[xx]=xxQt3 Designerxx
Name[zu]=Umakhi we-Qt3
GenericName=Interface Designer
GenericName[af]=Koppelvlak Ontwerper
GenericName[az]=Ara Üz Tərtibçisi
GenericName[bs]=Qt3 alat za dizajniranje interfejsa
GenericName[ca]=Dissenyador d'interfícies
GenericName[cs]=Návrhář rozhraní
GenericName[cy]=Dylunydd Rhyngwyneb
GenericName[da]=Grænsefladedesigner
GenericName[de]=Schnittstellen-Designer
GenericName[eo]=Interfacdesegnilo
GenericName[es]=Diseñador de interfaces
GenericName[et]=Kasutajaliidese disainer
GenericName[eu]=Interfaze Diseinatzailea
GenericName[fi]=Käyttöliittymäsuunnittelija
GenericName[fo]=Nýtaramótssniðari
GenericName[fr]=Concepteur d'interface
GenericName[gl]=Deseñador de Interfaces
GenericName[hr]=Dizajner sučelja
GenericName[hu]=Felülettervező
GenericName[is]=Viðmótshönnun
GenericName[it]=Disegnatore di interfacce
GenericName[lt]=Sąsajos redaktorius
GenericName[lv]=Starsejas Dizainers
GenericName[mk]=Интерфејс дизајнер
GenericName[mn]=Гадаргуун дизайнер
GenericName[ms]=Pereka Antaramuka
GenericName[mt]=Diżinjatur tal-interfaċċji
GenericName[nb]=Utforming av grensesnitt
GenericName[nds]=Böversiet-Designer
GenericName[nl]=Interface-ontwerper
GenericName[nn]=Utforming av grensesnitt
GenericName[nso]=Mohlami wa Interface
GenericName[pl]=Projektant interfejsu
GenericName[pt]=Editor de Interfaces
GenericName[pt_BR]=Criador de Interfaces
GenericName[ro]=Dezvoltator de interfeţe
GenericName[ru]=Редактор интерфейса приложений Qt3
GenericName[se]=Laktahábmejeaddji
GenericName[sk]=Návrh rozhrania
GenericName[sl]=Snovalnik vmesnikov
GenericName[sr]=Дизајнер интерфејса
GenericName[sr@Latn]=Dizajner interfejsa
GenericName[ss]=Umhleli wesichumanisi
GenericName[sv]=Gränssnittseditor
GenericName[tg]=Тароҳи робита
GenericName[tr]=Arayüz tasarım programı
GenericName[uk]=Дизайн інтерфейсу
GenericName[uz]=Интерфейс дизайнери
GenericName[ven]=Muvhati wa nga Phanda
GenericName[vi]=Trình thiết kế giao diện
GenericName[xh]=Umyili Wezojongongano
GenericName[xx]=xxInterface Designerxx
GenericName[zu]=Umakhi Womxhumanisi
Categories=Qt;Development;GUIDesigner;
X-KDE-StartupNotify=true
MimeType=application/x-designer
Icon=designer
Terminal=false
Type=Application

