[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=qt
Name=Qt3 Configuration
Name[ru]=Настройка Qt3
Comment=A configuration tool for Qt3
Comment[ru]=Утилита настройки библиотеки Qt3
Exec=qtconfig-qt3
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;Settings
